<div class="page-header">
  <h1>Author #<%= @author.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Firstname</dt>
  <dd><%= @author.firstName %></dd>


  <dt>Lastname</dt>
  <dd><%= @author.lastName %></dd>


  <dt>Shortbio</dt>
  <dd><%= @author.shortBio %></dd>


</dl>
